### Daten einlesen

In [15]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Machine Learning Bibliothek Sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score




music_data = pd.read_csv('music.csv') 
music_data

# gender(Geschlecht):  0 = Frauen, 1 = Männer

# Männer im Alter 20, 23 interessieren sich für HipHop und Frauen mit 20, 21 für Dance music

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

### Splitten Daten in Input Menge

In [2]:
X = music_data.drop(columns=['genre']) 
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

### Output Menge erstellen

In [3]:
y = music_data['genre'] 
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

### Modell erstellen mithilfe eines Machine Learning Algorithmus genannt Decision Tree

In [12]:
model = DecisionTreeClassifier()                            # Modell erstellt
model.fit(X , y)                                            # trainieren des Modells
predictions = model.predict([ [21, 1] , [22, 0] ])          # Prognose für eine Gruppe von Männer und von Frauen machen
predictions

array(['HipHop', 'Dance'], dtype=object)

#### Nun ergibt sich bei  einer Prognose, dass Männer im Alter 21 HipHop und Frauen im Alter 22 Dance mögen

### Bestimmen der Accuracy(Genauigkeit) des Modells

###### splitten Datenmenge in Zwei Mengen (training und testing), empfohlen wird meistens 80% der Datenmengen für Training und 20% für Testing

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test, predictions ) # y_test is the expected value and predictions which contain the actual value
score

1.0

#### Accuracy ist 1 oder 100%, wenn man simuliert mehrmal wird der Accuray geändert, weil es mit neuen Datenmengen gestestet wird.  Bei ändern test_size zu 0.8 d.h 80% der Datenmengen für testing, merkt man dass der Wert der Accuracy sich verschlechtert ( bis zu 26,66666%. Je mehr man Daten (bereinigt) in Machine Learning hat desto besser die Studie ist.

### Persisting Models

#### Models persisting ist sehr wichtig wenn man mit großen Datenmengen arbeitet. Bei wenigen Datenmenge kann man noch ein Modell trainieren.

In [37]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib as jb
# from sklearn.externals import joblib

music_data = pd.read_csv('music.csv') 
X = music_data.drop(columns=['genre'])
y = music_data['genre'] 
model = DecisionTreeClassifier()
model.fit(X , y)

joblib.dump(model, 'music-recommender.joblib')

NameError: name 'joblib' is not defined